@media (min-width: 1024px) {

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 1em; 
        padding: 1em; 
    }

    #section1, #section2, #section3 {
        grid-column: auto; 
    }

    section img {
        width: 100%; 
        height: auto; 
}
}