body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #f8f8f8;
    padding: 1em;
    text-align: center;
}




header div:first-child, footer p {
    margin: 0;
    padding: 0.5em 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 1em;
}

section {
    border: 5px solid rgb(42, 31, 130);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 33px;
}

section h2, section h3, section h4 {
    margin-bottom: 0.5em;
}

section img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.5em;
}

