/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #004080;
  color: #fff;
  padding: 1rem 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: auto;
  width: 140px;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

#banner-announcement {
  background-color: #f8f8f8;
  color: #333;
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-banner {
  background: none;
  border: none;
  cursor: pointer;
}

/* Navigation styles */
#navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#navigation ul li + li {
  margin-top: 0.5rem;
}

#navigation a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

#navigation a:hover,
#navigation a:focus {
  background-color: #002855;
}

/* Main content styles */
main {
  padding: 1rem;
}

section {
  background: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* Footer styles */
footer {
  background-color: #004080;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer address {
  margin-bottom: 1rem;
}

footer a {
  color: #69B3D7;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .header-content {
    padding: 0 3rem;
  }

  .title-container h1 {
    font-size: 2.5rem
  }

  #navigation ul {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  #navigation ul li + li {
    margin-top: 0;
    margin-left: 1rem;
  }

  #hamburgerBtn {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 80%;
    margin: auto;
  }

  header .container,
  main .container,
  footer .container {
    display: flex;
    justify-content: space-between;
  }

  .logo-container img {
    width: 160px; /* Adjust logo size on larger screens */
  }

  .spotlight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  section {
    padding: 2rem;
  }

  .spotlight section {
    /* Styling for spotlight sections if you have multiple side by side */
    margin-bottom: 0;
  }
}

/* Responsive menu for mobile */
@media screen and (max-width: 768px) {
  #hamburgerBtn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
  }

  #hamburgerBtn:focus {
    outline: none;
  }

  #hamburgerBtn.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburgerBtn.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburgerBtn.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #hamburgerBtn .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  #navigation ul {
    display: none;
    position: absolute;
    top: 60px; /* Adjust according to header height */
    left: 0;
    width: 100%;
    background-color: #004080;
    flex-direction: column;
  }

  #navigation ul.open {
    display: flex;
  }

  #navigation a {
    width: 100%;
    padding: 1rem;
  }
}

/* Utility classes */
.hidden {
  display: none;
}
