
main {
    display: grid;
    grid: auto / auto;
}




#Discover {
    grid: auto / 1fr 1fr;
    column-gap: 1rem;
  }
  
  .card {
    background-color: var(--background-secondary);
    padding: 1rem;
    border: var(--banner-primary) solid 1px;
    margin: 0.8rem 0;
  }
  
  .card p {
    font-size: 2rem;
    text-align: center;
  }
  
  .card h3 {
    margin: 0 auto;
  }
  
  #Pictures img {
    margin-bottom: 1rem;
    filter: saturate(25%);
  }
  
  #Pictures img:hover {
    filter: saturate(100%);
  }


  body {
    font-family: 'Arial', sans-serif;
    color: #333; /* Example text color */
    background-color: rgb(200, 179, 194);
    margin: 0; /* Remove default margin */
  }
#Content {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: var(--text-secondary);
    text-decoration: none;
}

a:hover {
    color: var(--text-primary);
}


main {
    display: grid;
    grid: auto / auto;
}

section {
    background-color: var(--background-primary);
    margin: 0 0.5rem;
    padding: 0 1rem;
}


#Pictures img {
    margin-bottom: 1rem;
    filter: saturate(25%);
}

#Pictures img:hover {
    filter: saturate(100%);
    opacity: .6;
    transform: scale(1.1);
}
img {
  width: 100%; /* This makes image width responsive */
  height: auto; /* This maintains the aspect ratio of the image */
}