@media screen and (min-width: 1024px) {
    main {
        display: grid;
        grid: auto / 1fr 2fr 1fr;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
      
    nav li {
        margin-right: 1rem;
    }
      
    nav li:last-child {
        margin-right: 0;
    }
      
    #primaryNav {
        display: flex; /* Show the main navigation */
    }
      
    #hamburgerBtn {
        display: none; /* Hide the hamburger button on large screens */
    }
      
    
      
    footer .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
    }
      
    footer .footer-base {
        padding: 0.5rem 3rem;
    }
      
      
    
    nav ul li a {
        padding: .5rem 1rem;
    }  
    
    
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    

    

    
}