@media screen and (min-width: 769px) {
  header {
      padding: 1rem 3rem;
  }

  .title h1 {
      font-size: 2.5rem;
  }

  .title p {
      font-size: 1.25rem;
  }

  nav ul {
      flex-direction: row;
      justify-content: center;
  }

  nav li {
      margin-right: 1rem;
  }

  nav li:last-child {
      margin-right: 0;
  }

  #primaryNav {
      display: flex;
  }




  #hamburgerBtn {
      display: none; 
  }



 
  #container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      padding: 10px;
  }

  .spotlight {
      grid-column: 3/4;
      grid-row: 1/4;
      display: grid;
      padding: 10px;
      border: 1px solid black;
      gap: 10px;
      grid-template-rows: 1fr 1fr 1fr;
  }

  #weather {
      grid-column: 1/2;
      grid-row: 2/3;
  }

  .hero {
    grid-column: 2 / 3; /* Span the hero image across the second column */
    grid-row: 1 / 3; /* Span the hero image from the first to the third grid line, covering two rows */
    position: relative; /* Adjust if needed to position the hero image correctly within the grid */
    width: 100%; /* Ensure the hero image takes the full width of the grid column */
    height: 100%; /* Optional: if you want the image to take full height of the grid area */
    z-index: 1; /* Ensures that the hero image will be placed above other elements in the grid area */
}

  #join {
      grid-column: 1/2;
      grid-row: 3/4;
  }

  #newRelease {
      grid-column: 2/3;
      grid-row: 3/4;
  }

  #event {
      grid-column: 1/2;
      grid-row: 1/2;
  }

  #spotlight3 {
      display: block;
  }

  #join {
      display: block;
  }

  nav ul li a {
      padding: .5rem 1rem;
  }

  nav ul {
      flex-direction: row;
      justify-content: center;
  }

 
  * {
      margin: 0;
      padding: 0;
  }

  .stats {
      top: 644px;
      right: 42px;
  }
}