@media screen and (min-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header>* {
        margin: 0rem 2rem;
    }

    main {
        display: grid;
        grid: auto / 1fr 1fr;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .social {
        display: flex;
        justify-content: center;
    }

    nav button {
        display: none;
    }
    nav ul#primaryNav{ 
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0,0,0.3);
        justify-content: flex-start;
        font-size: .9rem;
    }
    nav{
        display: flex;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0, 0,0,0.3);
    }

}



  
