
:root {
    --main-font: Arial, sans-serif;
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --font-size-large: 1.2em;
    --input-padding: 10px;
    --form-max-width: 600px;
    --default-spacing: 20px;
}

body {
    font-family: var(--main-font);
}

.form-container {
    max-width: var(--form-max-width);
    margin: var(--default-spacing) auto;
    padding: var(--default-spacing);
    text-align: center;
}

.form-group {
    margin-bottom: var(--default-spacing);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
output,
button {
    font-size: var(--font-size-large);
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 100%;
    padding: var(--input-padding);
    box-sizing: border-box; /* So padding doesn't affect the width */
}

input[type="range"] {
    width: calc(100% - (2 * var(--input-padding)));
    margin-right: var(--input-padding);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: var(--input-padding) 15px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color-hover);
}

/* Focus styles */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

